body {
    font-family: 'Century Gothic';
    
}

.main-header {
    text-align: center
}

.headers {
    display: inline-block;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
    padding-right: 5px;
    text-align: center;
}

.headers li {
    text-decoration: none;
}

.info-box {
    height: auto;

}

.data {
    height: auto;
    background-color: white;
}

#canvas {
    height: 400px;
    width: auto;
}

.t-headers {
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #000;
}

.resultInfo {
    font-size: 12px;
}

.wrapper {
    text-align: center;
    background-color: #0095ff;
    height: 100px;
}

.menuLi {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    padding-top: 30px;
    display: inline-block;
    width: 15%;
}

.liText {
    color: white;
}

.liText:hover {
    color: white;
    background-color: #07C;
}

#seasonHead {
    text-align: center;
    width: 50%;
    border: 1px solid black;
    height: inherit;
    color: white;
    
}

.headerText {
    /*padding-top: 8px;*/
    font-size: 2em;
    padding-bottom: 10px;
    position: inherit;
    display: block;
    text-align: center;
}

.table-container {
    height: 75vh;
    display: flex;
    border: 1px solid black;

}

.parent {
    /*display: flex;*/
    
    width: 100%;
    margin-left: 3px;
    
    
}

.child-1 {
    height: 75vh;
    
    text-align: center;
    
}

.child-2 {
    height: 75vh;
    overflow: auto;
    border-right: 1px solid black
    
}
.child-3 {
    background-color: #eee;
    
    height: 75vh;
    overflow: auto;
    background-color: #f5f5f5;
    
}

.teams {
    width: 100%;
}

#statsHead {
  border: 1px solid black;
  margin-bottom: 5px;
    color: red;
    height: 100px;
    text-align: center;
}

#wins{
    color: green;
}

#drawHere{
    
}



   