body {
    font-family: 'Century Gothic';

}


.main-header {
    text-align: center
}

.headers {
    display: inline-block;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
    padding-right: 5px;
    text-align: center;
}

.headerText {
    font-size: 2em;
    padding-bottom: 10px;
    text-align: center;
}

.main-container {
    /*background-color: lightgrey;*/
}

.cards-container {
    display: flex;
   /* background-color: green;*/
    align-items: center;
    justify-content: between;
}

.table {
    height: 100vh;
    /*background-color: #f0ad4e;*/
    overflow: scroll;
   /* position: sticky !important;*/
}

.cardsSplit1 {
    flex:1;
   /* background-color: blue;*/
    flex: 0 0 50%;
    margin: 0 auto;
    
}
.cardsSplit2 {
    flex: 1;
    /*background-color: pink;*/
    flex: 0 0 50%;
    
}

.card {
    margin-bottom: 5px;
    color: red;
    height: 150px;
    width: 80%;
    margin: 10px 10%;
    text-align: center;
    /*background-color: #ccc;*/
    border: 1px solid black;
}

#formSelect{
    color: black;
    font-size: 15px;
}