body {
    font-family: 'Century Gothic';
    background-color: white;
}

.main-header {
    text-align: center
}

.headers {
    display: inline-block;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    padding-right: 5px;
    text-align: center;
}

.headers li {
    text-decoration: none;
}

.info-box {
    height: auto;
    
}

.data {
    height: auto;
    background-color: white;
}

#canvas {
    height:400px;
    width: auto;
}

