.container{
    background-color: lightgrey;
    width: 900px;
    margin: 0 auto;
    height: 100vh;
}

@media(max-width: 922px){
    .container{width: 700px;}
}
@media(max-width: 768px){
    .container{width: 500px;}
}
@media(max-width: 480px){
    .container{width: 350px;}
}